a:link {
    text-decoration: none;
}
/*body{
    background: pink;
}*/
#header
 {
     height:50px;
     width:100%;
     border-bottom: 1px solid gainsboro;
     position: fixed;
     top:0;
     left: 0;
     background: white;
}
#headerLeft
 {
    float:left;
    width:700px;
    height:40px;
 }
#headerRight
{
    float:right;
    width:400px;
    height:60px;
    line-height: 60px;
}
.write{
    float:left;
    margin-left:40px;
    margin-top:2px;
}
#writessay{
    width:80px;
    height:40px;
    background:orangered;
    border: 1px solid gainsboro;
    border-radius: 16px;
    text-align: center;
    line-height: 40px;
}
#denglu,#message1{
    position:relative;
}
#login,#message{
    border:1px solid gainsboro;
    width:150px;
    height:300px;
    display: none;
    position: absolute;
    top:30px;
    left:0px;
    background:gainsboro;
}
#denglu:hover #login{
    display:block;
}
#message1:hover #message{
    display:block;
}

#guide{
    width:600px;
    height:150px;
    margin-left:93px;
    margin-top:20px;
    border-bottom:1px solid gainsboro;
    
}

.list4{
padding-left: 0px;
padding-right: 20px;
list-style:none; 
}
.list1 li{
     list-style: none;
     display: inline-block;
     margin-left: 35px;
     margin-top: 10px;
     line-height: 20px;

}
.list1{
    margin-top:0px;
}
.tip
{
    color:black;
}
.tip2
{
    margin-left:20px;
    margin-bottom:6px;
    height: 30px;
    border-radius:20px;
}
.big
{
    color:red;
    font-size:30px;
    margin-left:-80px;
}
.tu1{
    float: left;
    height:32px;
    width:32px;
}
.tu3{
    width:45px;
   float:left;
}
.list2{
    list-style:none;
    display: inline-block;
    margin:0 18px 18px 0;
    background-color: #f7f7f7;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    height:32px;
    line-height:32px;
} 
#middle{
    overflow: hidden;
}
.discribte{
    color:black;
    display: inline;
    height: 32px;
    font-size: 14px;
}
#middleright
{
    float:right;
    margin-top:20px;
    margin-right:0px;
    width:500px;
}
#middleleft{
    width:600px;
     float:left;
}
.list3{
    width:70px;
    height:10px;
    margin-bottom:10px;
    border-radius:4px;
    padding:20px 100px 20px 100px;
    color:black;
    font-size:14px;
}
.ma
{
    width:250px;
    height:70px;
    border:1px solid gainsboro;
    border-radius:4px;
    position:relative;
}
.tu2{
    width:60px;
    height:60px;
    float:left;
}
.bigma{
    display:none;
    width:120px;
    height:120px;
    position:absolute;
    top:-140px;
    left:50px;

}
.ma:hover .bigma{
    display:block;
}
#write{
    width:30px;
}
.user{
    width:200px;
    display: inline;
    margin-left: 100px;
}
.tu4{
    width:25px;
}

.eaasy{
    width:470px;
    height:170px;
    margin-left: 100px;
    margin-bottom: 40px;
}
.eaasy p{
    font-size:13px;
}
.author{
    width:280px;
    height:80px;
}
#scroll {
        width: 60px;
        height: 50px;
        right: 45px;
        bottom: 50px;
        cursor: pointer;
        position: fixed;
}
.tu5{
    width:120px;
    height: 120px;
    float:right;
    margin-top: 30px;
    margin-left: 2px;
}
#lun{
    margin-left: -40px;
}
#lun li
{
    list-style: none;
    display: inline-block;
    margin-left:10px;
}
.tu6{
    width:14px;
}
.smallbao{
    width:280px;
    height:45px;
    margin-top: 15px;
}
.da{
    width:600px;
     margin-left:100px;
    height:300px;
}
.xiao{
    width:300px; 
    height:150px;
    display: block;
    margin-bottom: 0px;
}
.bo{ 
    margin-top: 50px;
    display: inline-block;
}